[user]
	email = {{ gitconfig_user_email }} {{ gitignore_placeholder }}
  name = {{ gitconfig_user_name }} {{ gitignore_placeholder }}
[filter "gitignore"]
	clean = "sed \"/[#,//] *gitignore$/\"d"
	smudge = cat
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
  ll = log --pretty=oneline --abbrev-commit

# delta
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[gpg]
	format = ssh
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
